.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    text-align: center;
    background-color: palevioletred;
    padding: 15px;
    color: white;
}

.content {
    display: flex;
    gap: 10px;
}

.main-article {
    background-color: purple;
    padding: 15px;
    flex: 2;
}

.sidebar {
    background-color: aqua;
    padding: 15px;
    flex: 1;
}

.articles {
    display: flex;
    gap: 10px
}

.article {
    background-color: greenyellow;
    padding: 15px;
    flex: 2;
    text-align: center;
}